header {
    font-family: "Comic Sans MS";
	background-color: #230808;
	color: #D30000;
	text-align:center;
	padding:5px;
}
a {
  color: #D30000;
 }
body {
	/* font-family: "lucida console"; */
	font-size: 14px;
	background-color:#4A1111;
	height:auto;
	margin:auto;
}
nav {
	font-family: "Comic Sans MS";
	line-height: 30px;
	background-color:#4A1111;
	height:300px;
	width: 140px;
	float:left;
	padding:15px;
}
footer {
    font-family: "Comic Sans MS";
	background-color: #230808;
	color: #D30000;
	clear:both;
	text-align:center;
	padding:5px;
}
section {
	font-family: "Comic Sans MS";
    color: #D30000;
	width:800px;
	height:830px;
	float:left;
	padding:10px;
	overflow: scroll;
}
div.spacecraft {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}
div.spacecraft:hover{
	border: 1px solid #777;
}
div.spacecraft img {
	width: 100%;
	height: 200px;
}
div.spacecraftdesc {
	padding: 15px;
	text-align: center;
    color: #D30000;
}
div.allspacecraft {
	font-family: "lucida console";
}